@import '../node_modules/bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
  }

  .app {
    background-color: #f8f9fa;
  }

  nav {
    height: 70px;
  }
  
  .box {
    width: auto;
    height: 50px;
    background: #4fa;
  }
  
  #back-to-top-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
  }

  #back-to-top-icon:hover {
    color: lighten($color: #4fa, $amount: 2);
    cursor: pointer;
  }

  .home-header {
    height: 600px;
    background-image: url("../assets/forest.jpg");
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 25%;
  }

  .timon-hosch-webdev {
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
    font-size: 5em;
    text-align: center;
    background-color: #5b5b5b7f;
    border-radius: 5px;
    padding: 30px;
  }

  .projects-section {
    margin-bottom: 5em;
  }

  .projects {
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
    font-size: 4em;
  }

  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM"
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD"
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG"
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL"
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL"
    }
  }
  
  
  