@import '../node_modules/bootstrap/scss/bootstrap';

.box {
    width: auto;
    height: 50px;
    background: #4fa;
  }

  .projects-section {
    margin-bottom: 5em;
  }

  .projects {
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
    font-size: 4em;
  }